<%= render partial: 'spree/admin/shared/product_tabs', locals: { current: 'Issues' } %>

<div data-hook='admin_product_issue_header'>
  <h2><%= @issue.subscription_type %></h2>
</div>

<div class='row'>
  <% if @issue.product_issue %>
    <%= render 'product_issue', product: @issue.product_issue %>
  <% end %>

  <%= render 'product_description', product: @issue.product_issue %>
</div>